body {
  background-color: white;
}

code {
  white-space: pre;
}

h1 {
  margin-top: 0px;
  padding-top: 20px;
}


.main {
  flex: 1 1 auto;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

.dropdown-menu {
  min-width: 100%;
}

.broken-link {
  color: #e26161;
}

.row {
  margin: 0;
}

/* https://stackoverflow.com/a/24979148/15843982 */
html, body {
  height: 100%;
  margin: 0;
}
.main-flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.main-flex-container .navbar {
  flex: 0 1 auto;
}
.main-flex-container .main {
  flex: 1 1 auto;
}
.main {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 auto;
  width: auto;
}

.entry-form {
  height: 100%;
}

table {
  width: 100%;
  border: 0.1em solid gray;
}
tbody {
  margin-bottom: 10px;
}

td {
  border: 0.1em solid gray;
}

tr:last-child:not(tbody:last-child tr) {
  border-bottom: 0.2em solid black;
}

.diff-text {
  width: 50%;
  padding-left: 0.5em;
}

.diff-line-number {
  padding: 0.2rem;
  text-align: right;
}

.diff_add {
  background-color:#aaffaa;
}

.diff_chg {
  background-color:#ffff77;
}

.diff_sub {
  background-color:#ffaaaa;
}

.nav-link a {
  color: rgb(120, 120, 120);
}

.bg-light {
  background-color: #f0f0f0 !important;
}
