{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
  {{ title }} - Editing
{% endblock %}

{% block script %}
  <script src="{% static 'encyclopedia/unsaved_warning.js' %}"></script>
{% endblock %}

{% block body %}
  <h2>Editing "{{ title }}"</h2>
  <form class="entry-form" action="{% url 'edit' title %}" method="post">
    <div class="box">
      {% csrf_token %}
      {{ form }}
      <div><input type="submit" class="btn btn-primary" value="Save" onclick="onSubmitClicked()"></div>
    </div>
  </form>
{% endblock %}
