{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
  Create Entry
{% endblock %}

{% block script %}
  <script src="{% static 'encyclopedia/unsaved_warning.js' %}"></script>
{% endblock %}

{% block body %}
  <form class="entry-form" action="{% url 'new_page' %}" method="post">
    <div class="box">
      {% csrf_token %}
      {{ form }}
      <div><input type="submit" class="btn btn-primary" value="Submit" onclick="onSubmitClicked()"></div>
    </div>
  </form>
{% endblock %}
