{% extends "encyclopedia/layout.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
  {{ title }}
{% endblock %}

{% block script %}
  <link rel="stylesheet" href="{% static 'encyclopedia/codehilite.css' %}">
{% endblock %}

{% block body %}
  <a href="{% url 'edit' title %}" class="btn btn-secondary btn-sm">Edit</a>
  <a href="{% url 'wiki' title|cut:'talk:' %}" class="btn btn-secondary btn-sm">Entry</a>
  <a href="{% url 'history' title %}" class="btn btn-secondary btn-sm">History</a>
  <h1>{{ title|format_title }}</h1><hr>
  {{ content|safe }}
{% endblock %}
